body {
  /*text-align: center;*/
  padding-top: 5%;
  background: #EFF3CF;
  background: #f2f5f7;
  color: #263238;
  font-family: 'Georgia', serif;
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-family: 'Alex Brush', cursive;
  font-size: 120px;
  line-height: 120px;
  color: #724A2F;
  color: #263238;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
}
h2,h3,h4 {
  font-family: 'Playfair Display','Sorts Mill Goudy', serif;
  font-weight: 400;

}
h2 {
  font-size: 3em;
  margin-top: 1.5em;
}
h3 {
  font-weight: 400;
  font-size: 2em;
  margin-top: 1.5em;
}
ul {
  width: 200px;
  margin: 0 auto;
}
li {
  text-align: left;
}
ol li {
  /*margin-left: 30px;*/
}
.creators {
  font-size: 80%;
  margin-top: -5px;
  margin-bottom: 3px;
}
p {
  /*width: 90%;
  margin: 1em auto;*/
}
hr {
  border: 1px solid #724a2f;
}
.left {
  float: left;
  margin-left: 20%;
  max-width: 20%;
  padding-top: 10px;
}
.left img {
  max-width: 90%;
}
.right {
  float: left;
  max-width: 50%;
  text-align: left;
}
.left,.right {
  padding-bottom: 50px;
}


img {
  border: 3px solid #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 3px #aaa;
}

.firstbox {
  padding-top: 60px;
}
.box {
  width: 100%;
}

a {
  color: #607d8b;
}
.nav-pills .nav-link.active {
  background-color: #607d8b;
}
.alert {
  text-align: center;
}
.table td {
  border: none;
}

@media only screen and (max-width: 540px) {
  h1 {
    font-size: 100px;
    line-height: 100px;
  }
  .media {
    flex-direction: column;
    align-items: center;
    padding-bottom: 3em;
  }
  .media img {
    margin-bottom: 1em;
    max-width: 75%;
  }
}